{%- if section.settings.title != blank -%}
        <h2>
          {{ section.settings.title }}
        </h2>
      {%- endif -%}
{% schema %}
  {
    "name": "Products Show",
    "settings": [
      {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.featured-collection.settings.title.label"
    }
    ],
    "presets": [
      {
        "name": "Products Show"
      }
    ]
  }
{% endschema %}